@media(max-width: 576px) {
    label {
        font-size: 19px;
    }
}

body {
    background-color: #8a2be2;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}

form {
    font-size: 20px;
}

small {
    color: #29b8db;
}

.container {
    margin-top: 50px;
    height: 500px;
}

.main {
    padding: 30px;
    border: 5px solid #29b8db;
    border-radius: 50px;
    background-color: #6f51db;
    padding-left: 50px;
    color: #FFF;
} 

.form-control {
    width: 30%;
}

.password {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
}

.hide {
    visibility: hidden;
}

.wrongSize {
    background-color: #ff0000;
    color: #FFF;
}

.btn-info {
    background-color: #29b8db;
    font-size: 25px;
    padding: 5px 20px;
}

.btn-info:focus {
    background-color: #29b8db;
}